Package: page.liam.phantomsteps
Name: PhantomSteps
Version: 0.1.0
Architecture: iphoneos-arm
Description: Generate steps by your need!
Maintainer: Liam Huang
Author: Liam Huang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
